<div ngClass.gt-xs="footer-container" ngClass.xs="footer-container-mobile"
     fxLayout="column" fxLayoutAlign="center center">

    <h1 ngClass.gt-xs="title"  ngClass.xs="title-mobile"
        fxFlexOffset.gt-xs="2%" fxFlexOffset.xs="4%" >
      {{grow}}
    </h1>

    <p ngClass.gt-xs="paragraph" ngClass.xs="paragraph-mobile"
      class="grey-color" fxFlexOffset.gt-xs="2%"  fxFlexOffset.xs="4%">
      {{mission}}
    </p>

    <button mat-flat-button ngClass.gt-xs="start-button-normal" ngClass.xs="start-button-mobile"
            class="start-button" fxFlexOffset.gt-xs="2%" fxFlexOffset.xs="4%" >
      {{start}}
    </button>

</div>
