.title-container{
  text-align: center ;
  margin-bottom: 5em ;
}

.title-container-mobile{
  text-align: center ;
  margin-bottom: 3em ;
}

.title{
  font-size: 3em ;
}

.news-container{
  margin-left: 5% ;
  width: 88% ;
}

.news-container-mobile *{
  height: 28em ;
  padding-top: 3.5em ;
  text-align: center ;
}
