.title{
   font-size: 1.8em ;
}

.title-mobile{
  font-size: 1.6em ;
  padding-left: 10%;
  padding-right: 10%;
}


.text{
  font-size: 1.4em ;
  line-height: 1.5 ;
}

.text-mobile{
  padding-right: 10% ;
  padding-left: 10% ;
  font-size: 1.4em ;
  line-height: 1.4 ;
}
