<div fxLayout="column" fxLayoutAlign="start center" class="wallpaper"
     ngClass.gt-sm="gallery-medium"
     ngClass.lt-sm="gallery-mobile">

  <h1 class="white-color center-align"
      fxFlexOffset.gt-sm="15%"
      fxFlexOffset.lt-md="30%">
    Grow your
    <span fxHide.gt-sm style="display: block; margin: 20px" ></span>
    business
  </h1>

  <h2 class="grey-color center-align padding-horizontal"  fxFlexOffset="5%">
    {{businessBoost}}
  </h2>

  <button mat-flat-button class="learn-button" >
    {{learnMore}}
  </button>


</div>
