.wallpaper{
  background-image: url("/assets/images/home/tiles.svg") ;
  background-size: cover ;

  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;

  height: 40em ;

}

.title-normal{
  font-size: 6em ;
  padding-bottom: 0.5em ;
}

.wallpaper .title-mobile{
  font-size: 4em ;
  padding-bottom: 0.5em ;
}

.sub-title{
  font-size: 1.8em ;
}

.sub-title-mobile{
  font-size: 1.3em ;
}

.center-align{
  text-align: center ;
}

.padding-horizontal{
  padding: 10px ;
}

.learn-button{
  height: 60px ;
  width: 160px ;
  padding: 10px ;
  background-color: white ;
  border-radius: 0;
  margin-top: 20px ;
  font-size: 16px ;
}


